* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", serif;
    font-optical-sizing: auto;

}
.principal{
    margin-top: 50px;
    text-align: center;
    
}
.separador {
    margin-top: 40px;
}

.carta{
    display: flex;
    align-items: center;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    max-width: 660px;
    
}

.imagen {
    width: 160px;
    height: auto;
    border-radius: 10px;
}
.card-contenido{
    margin-right: 10px;
    flex: 1;
    max-width: 11px;

}
.title{
    font-size: 18px;
    font-weight: 600;
    margin-left: 50px;

}

.date{
    font-size: 14px;
    color: #6b7280;
    margin-top: 15px;
    margin-left: 50px;
    }
